<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      table,
      th,
      td {
        border: 1px solid;
        text-align: center;
      }
      tr:hover {
        background-color: rgb(6, 68, 24);
        color: white;
      }
      table {
        background-color: rgb(90, 221, 129);
      }
      table {
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
      }
      th {
        background-color: aquamarine;
      }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>result gried</title>
  </head>
  <body>
    <CENTER>KAMYAB HUSAIN</CENTER>
    <div>
      <table>
        <tr>
          <th rowspan="2">student name</th>
          <th colspan="2">primary</th>
          <th colspan="2">terminal</th>
          <th colspan="2">final</th>
          <th rowspan="2">total practical</th>
          <th rowspan="2">total theiory mark</th>
          <th rowspan="2">more details</th>
        </tr>
        <tr>
          <th>prectical marks</th>
          <th>theory marks</th>
          <th>prectical marks</th>
          <th>theory marks</th>
          <th>prectical marks</th>
          <th>theory marks</th>
        </tr>

        <% for( let i = 0; i < data.length; i++ ) { %>
        <tr>
          <td><%= data[i].student_name %></td>
          <td><%= data[i].totalpractical1%></td>
          <td><%= data[i].totaltheory1 %></td>
          <td><%= data[i].totalpractical2 %></td>
          <td><%= data[i].totaltheory2 %></td>
          <td><%= data[i].totalpractical3 %></td>
          <td><%= data[i].totaltheory3 %></td>
          <td>
            <%=    Number( data[i].totalpractical1) + Number(data[i].totalpractical2 )+Number(
            data[i].totalpractical3) %>
          </td>
          <td>
            <%=Number( data[i].totaltheory1 ) +Number( data[i].totaltheory2)  +Number(
            data[i].totaltheory3) %>
          </td>

          <td>
            <a
              href="/more/?id=<%=data[i].student_id%>&totalpractical=<%= data[i].totalpractical1 + data[i].totalpractical2 +
            data[i].totalpractical3 %>&totaltheory=<%= data[i].totaltheory1 + data[i].totaltheory2 +
            data[i].totaltheory3 %>"
              >details</a
            >
          </td>
          <!-- <form method="get" action="/result">
            <td>
              <input
                type="submit"
                value="details"
                name="%>"
              />
            </td>
          </form> -->
        </tr>
        <% } %>
      </table>
    </div>

    <div>
      <a
        href="/result/?page=<%=1%>
      
      "
        >first</a
      >

      <% if (page > 1) { %>
      <a href="/result/?page=<%=page - 1%>">previous</a>
      <% } %>

      <lable><%=page%></lable>

      <% if (page < numberOfPages) { %>
      <a href="/result/?page=<%= page + 1%>">next</a>
      <% } %>

      <a href="/result/?page=<%=numberOfPages%>">last</a>
    </div>
  </body>
</html>
